@model O20240408.EntidadesDeNegocio.PersonaO

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>¿Esta seguro de eliminar este registro?</h3>
<div>
    <h4>Persona registrada</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreO)
        </dd> 
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidoO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SueldoO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SueldoO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComentarioO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComentarioO)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-primary" asp-action="Index">Regresar</a>
    </form>
</div>
